# Manim outputs
media/
output/

# Manim Slides outputs
slides/

# Python
__pycache__/
*.pyc

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Archives / compressed files
*.7z
*.bz2
*.gz
*.iso
*.lz
*.lz4
*.rar
*.tar
*.tar.gz
*.tgz
*.xz
*.zip
*.zst

# Experiment Folder
playground